/* ganz minimal */
html,body {
  margin: 0;
  height: 100%;
  background: #0b1020;
  font-family: sans-serif;
}
#canvas-wrap {
  width: 100vw;
  height: 100vh;
  display: block;
  overflow: hidden;
  position: relative;
}
